---
---

.panel-inner .bus-view {
  /* **** */
  /* MENU */
  .bus-menu-wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-bg);
  }

  .bus-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px 0;
    margin: 18px 0;
    gap: 0 12px;
  }

  .toggle-button {
    user-select: none;
    cursor: pointer;
    padding: 10px 18px;
    border: 1px #444 solid;
    border-radius: 2px;
    background-color: #eee;
    color: #222;
    font-size: 1rem;

    .toggle-input {
      display: none;
    }

    .toggle-input + .toggle-label {
      display: inline-block;
    }
  }

  .toggle-button.person:has(.toggle-input:checked) {
    background-color: var(--color-hl-1);
  }
  .toggle-button.tree:has(.toggle-input:checked) {
    background-color: var(--color-hl-2);
    color: #eee;
  }
  .toggle-button.bus_stop:has(.toggle-input:checked) {
    background-color: var(--color-hl-3);
    color: #eee;
  }
  .toggle-button.bus_sign:has(.toggle-input:checked) {
    background-color: var(--color-hl-0);
  }

  /* ****** */
  /* IMAGES */
  .bus-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 75%;
    margin: 0 auto;

    .item-container {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      width: calc(1/6 * 100%);
      margin-left: unset;
      overflow: hidden;
      opacity: 1;
      will-change: width, margin-left, opacity;
      transition: width 0.1s linear, margin-left 0.1s linear, opacity 0.1s linear;
      -moz-transition: width 0.1s linear, margin-left 0.1s linear, opacity 0.25s linear;
      pointer-events: none;
      user-select: none;
      scroll-margin-top: 56px;
    }
  }

  .info-wrapper {
    font-family: sans-serif;
    font-size: 14px;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    flex-shrink: 0;

    .image {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      filter: grayscale(1);
      will-change: filter;
      transition: filter 0.1s linear;
    }

  }


  .image-boxes {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .box.person {
      position: absolute;
      border: 2px var(--color-hl-1) solid;
    }
    .box.tree {
      position: absolute;
      border: 2px var(--color-hl-2) solid;
    }
    .box.bus_stop {
      position: absolute;
      border: 2px var(--color-hl-3) solid;
    }
    .box.bus_sign {
      position: absolute;
      border: 2px var(--color-hl-0) solid;
    }
  }

  .item-container.active {
    pointer-events: unset;
  }

  .item-container.inactive {
    opacity: 0.1;
  }

  .item-container.selected {
    width: calc(4/6 * 100%);
    overflow: visible;

    .image {
      filter: grayscale(0);
    }

    &.col-0 {
      margin-left: calc(1/6 * 100%);
    }
    &.col-1 {
      margin-left: 0;
    }
    &.col-2 {
      margin-left: calc(-1/6 * 100%);
    }
    &.col-3 {
      margin-left: calc(-2/6 * 100%);
    }
    &.col-4 {
      margin-left: calc(-3/6 * 100%);
    }
    &.col-5 {
      margin-left: calc(-4/6 * 100%);
    }
  }

  .item-container.selected .info-wrapper {
    width: 100%;
    padding: 8px;
  }

  /* ****** */
  /* IMAGE INFO */
  .bus-image-info-wrapper {
    position: sticky;
    bottom: 4px;
    width: 40%;
    margin: 0 auto;

    .bus-image-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: #fff;
      opacity: 0;
      width: 100%;
      padding: 20px;
      border: #666 1px solid;
      border-radius: 4px;
      will-change: opacity;
      transition: opacity 0.07s linear;
    }

    .bus-image-info.show {
      opacity: 0.8;
    }
  }
}
