---
---

@import "fonts/font-cera.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #eee;
  --bg-color-l: #ccc;
  --bg-color-hl: #aaa;
  --txt-color: #444;
  --txt-color-l: #333;
  --txt-color-hl: #222;
  --text-color-err: #e44;
  --hl-color: #cbdc29;
  --hl-color2: #cdf400;
  --menu-width: 300px;
  font-size: 15px;
}

html, body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: "Cera";
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

// TOP-NAV

.nav-container {
  display: block;
  width: 100%;
  padding: 10px 0;
  --button-size: 32px;

  .nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 12px;

    .nav-link {
      position: relative;

      .nav-square {
        width: var(--button-size);
        height: var(--button-size);
        background-color: var(--hl-color);
      }

      .nav-square-border {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #ffffff00;
        border: 0;

        &.selected {
          border: 1px var(--txt-color) solid;
        }
      }
    }
  }
}
