---
---

@import "fonts/font-cera.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #eee;
  --bg-color-l: #ccc;
  --bg-color-hl: #aaa;
  --txt-color: #444;
  --txt-color-l: #333;
  --txt-color-hl: #222;
  --text-color-err: #e44;
  --hl-color: #cbdc29;
  --hl-color2: #cdf400;
  --menu-width: 300px;
  font-size: 15px;
}

html, body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: "Cera";
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

// TOP-NAV
.nav-container {
  display: block;
  width: 100%;
  padding: 10px 0;
  --button-size: 32px;

  .nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 12px;

    .nav-link {
      width: var(--button-size);
      height: var(--button-size);
      background-color: var(--hl-color);

      &.opacity {
        @mixin opacity-val($in, $in_range, $out_min, $out_max: 1.0) {
          opacity: $in / $in_range * ($out_max - $out_min) + $out_min;
        }

        @for $idx from 0 through 6 {
          &-#{$idx} {
            @include opacity-val($idx, 6, 0.333, 1.0);
          }
        }
      }

      &.opacity-sel {
        opacity: 1;
        background-color: var(--bg-color);
        border: #e8e8e8 1px solid;
      }
    }
  }
}
