---
---

// TOP-NAV
.nav-container {
  display: block;
  width: 100%;
  height: var(--menu-height);

  --button-size: 1.33rem;
  --button-gap: calc(var(--button-size) * 0.5);
  padding: var(--button-gap) 0;

  .nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 var(--button-gap);

    .nav-link {
      width: var(--button-size);
      height: var(--button-size);
      background-color: var(--color-hl-0);
      border-radius: 50%;

      &.opacity-0 { opacity: 0.20; }
      &.opacity-1 { opacity: 0.33; }
      &.opacity-2 { opacity: 0.46; }
      &.opacity-3 { opacity: 0.59; }
      &.opacity-4 { opacity: 0.72; }
      &.opacity-5 { opacity: 0.85; }
      &.opacity-6 { opacity: 1; }

      &.opacity-sel {
        opacity: 1;
        background-color: var(--color-bg-hl);
        pointer-events: none;
      }
    }
  }
}
