---
---

.panel-inner {
  padding: 2rem;
}

.panel-title {
  margin-bottom: 1rem;
}

.sub-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  gap: 0 1rem;

  .sub-section--text {
    flex-grow: 1;
    max-width: 50%;

    p {
      margin: 1.5rem 0;
    }

    li {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .sub-section--image {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .image-container {
      width: 49%;
    }

    img {
      display: block;
      width: 48%;
      aspect-ratio: 1/1;
    }
  }
}
