---
---

.panel-inner {
  padding: 2rem;
}

.panel-title {
  margin-bottom: 1rem;
}

.sub-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;

  .sub-section-text {
    flex-grow: 1;
    max-width: 50%;

    p {
      margin-bottom: 1.5rem;
    }

    li {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .sub-section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;

    .image-container {
      width: 50%;
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  .wide-image-container {
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }
}
