---
---

.sundial-view {
  width: 100%;
  --color-light: var(--color-hl-0);
  --color-shade: var(--color-hl-2);

  .sundial-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: flex-start;
    gap: 16px;
    margin: 32px 0;

    .field {
      display: flex;
      flex-direction: column;
      gap: 6px;
      flex-grow: 1;
      max-width: 160px;
    }

    label {
      font-size: 14px;
      color: #333;
    }

    input {
      padding: 8px 10px;
      font-size: 14px;
    }

    input[type="date"],
    input[type="time"] {
      font-family: Cera;
    }

    input[type="color"] {
      padding: 4px;
      width: 100px;
    }

    button {
      width: 100px;
      padding: 9px 14px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .sundial-3d-container,
  .sundial-grid-container {
    width: 100%;
    margin: 32px 0;
  }

  .sundial-3d-container {
    .sundial-3d-renderer {
      display: block;
      width: 100%;
    }
  }

  .sundial-grid-container {
    .grid-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0;

      .grid-plot {
        margin: 1px;
        border: 2px #000 solid;
        aspect-ratio: 1 / 1;

        .plot-shape {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
        }
      }

      .grid-column-label {
        text-align: center;
        font-size: 14px;
      }

      .grid-row-label {
        width: 32px;
        padding: 0;
        margin: 0;
        margin-left: -32px;
        font-size: 14px;
        display: flex;
        align-items: center;
        transform: rotate(-90deg);
      }
    }
  }
}
