---
permalink: /pt/
layout: single-page
title: Início
---

<div class="panel blank" id="panel-home" data-panel-index="0"></div>
<div class="panel" id="panel-sundial" data-panel-index="1">{% include section-sundial.html %}</div>
<div class="panel" id="panel-bus" data-panel-index="2">{% include section-bus.html %}</div>
<div class="panel" id="panel-map" data-panel-index="3">{% include section-map.html %}</div>
<div class="panel" id="panel-game" data-panel-index="4">{% include section-game.html %}</div>
<div class="panel" id="panel-about" data-panel-index="5">{% include section-about.html %}</div>
<div class="panel" id="panel-process" data-panel-index="6">{% include section-process.html %}</div>
