<div class="panel-inner">
  <h2 class="panel-title">Sundial</h2>

  <div class="sub-section">
    <div class="sub-section--text">
      <p>
        I've always been fascinated by sunlight shadow angles, and this project allowed me to investigate how solar incidence can draw a city.
      </p>

      <p>
        What if in urban planning, we consider equal amounts of sun and shadows? Based on that question, we developed a digital sundial with a lot of math that flattens, projects and calculates the angles of the solar incidence in Fortaleza (depending on time and month) into a generic pole (adjustable height), and the shadow created, with a fixed viewpoint location facing south. The main goal was, after these calculations, to create a square divided into equal parts of sun and shadow, a perfect equilibrium, a kind of yin-yang.
      </p>

      <p>
        The Spatial Shadow Calendar series, a series of speculative data-paintings, where light and dark occupies 50% of the surface area.
      </p>

      <p>
        Use the tool below to create your own speculative data-paintings.
      </p>
    </div>
  </div>

  <div class="sub-section">
  </div>
</div>
