<div class="panel-inner">
  <h2 class="panel-title">How to Build an Ecological City?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        This project begins with data analysis combined with the initial goal of
        creating a clay cobogó (a type of perforated Brazilian brick) tailored to shady needs.
        Along the way, I realized that it wasn't necessary to create another structure to
        generate shade, but rather to observe, with new eyes, the ancestral technologies of shade
        that we already possess: the trees.
      </p>

      <p>
        In Fortaleza, there is a street named Cidade Ecológica (Ecological City), where I found
        (Ana -name link) using a pole as a shelter while navigating the city's streets online.
        It's a tropical country; trees should be our specialty, not poles.
      </p>

      <p>
        Welcome to Fortaleza in Cidade Ecológica, a game that navigates through the
        Cidade Ecológica street and allows you to transform the space. Please, plant some local
        trees, and we will calculate their shadow efficiency.
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="./assets/images/headers/game.jpg"/>
      </div>
    </div>
  </div>
</div>
