<div class="panel-inner">
  <h2 class="panel-title">How to Navigate the Shadows?</h2>

  <div class="sub-section">
    <div class="sub-section--text">
      <p>
        This project was a collaboration between the Sony Computer Science Lab (CSL) in Rome,
        and the <a href="https://unifor.br/web/pesquisa-inovacao/ncdia" target="_blank">
          Núcleo de Ciência de Dados e Inteligência Artificial
        </a> (NCDIA) from Unifor. The purpose was to map Fortaleza's solar incidence and
        its shadow structures and cross-reference them with social and economic data.
      </p>

      <p>
        From the beginning, the answer was there.
      </p>

      <p>
        The higher the buildings we build, the more shadow they create. So easy, let's create
        as many hight buildings as we can in order to create more shadow. We know that it's not
        how things should go, there are many other coefficients that have a huge impact in
        those calculations, like temperature, wind direction, humidity, air quality, and
        life maintenance. It's not only about buildings, but also about the trees.
      </p>
    </div>
  </div>
</div>
