<div class="panel-inner">
  <h2 class="panel-title">Who Needs Shade?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        Every animal species needs shade, even those adapted to desert climates.
        But in an urban environment, the people who need shade most are pedestrians.
        In Brazilian cities, it's very common to see people waiting for the bus aligned
        under a thin pole shade. They are typically workers and students who commute daily.
        That image has become a guide to this tool.
        We created a platform that scanned all bus stops in Fortaleza using Google Street View,
        applying machine learning to analyze people, trees, and shadows across 5,000 photos.
      </p>

      <p>
        Feel free to explore the bus stops in Fortaleza and draw your own conclusions.
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="./assets/images/headers/bus.jpg"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="bus-view">
      <div class="bus-menu-wrapper">
        <div class="bus-menu" id="bus-menu"></div>
      </div>

      <div class="bus-table" id="bus-table"></div>

      <div class="bus-image-info-wrapper">
        <div class="bus-image-info" id="bus-image-info"></div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="{{ 'css/bus.css' | relative_url }}">
  <script src="./js/bus.js"></script>
</div>
