<div class="panel-inner">
  <h2 class="panel-title">About Heat Cosmologies and Technologies</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        In this project, Mari Nagem investigates shadow as an ancestral technology.
        The "Right to Shadow," implemented in the "Land of Light," challenges the legacy of
        colonial urbanism and the Enlightenment project, denouncing how the aridity of concrete
        and urban overheating deepen socio-environmental inequalities in tropical cities
        such as Fortaleza.
      </p>

      <p>
        Anchored in the concepts of Buen vivir and Lo-TEK, the international residency "Mormaço"
        locates a transdisciplinary nexus between art, science, and ancestral knowledge.
        By consolidating shadow as an ancestral cooling technology and a gesture of poetic resistance,
        Mari Nagem's project repositions the aesthetic experience as a critical lens for reimagining
        collective survival amid contemporary climate disruption.
      </p>

      <p>
        Lucas Dilacerda
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="{{ 'assets/images/headers/about.jpg' | relative_url }}"/>
      </div>
    </div>
  </div>

  <div class="sub-section">
    <div class="sub-section-text full">
      <p>
        This is a project created within the framework of the S+T+ARTS Prize Buen-TEK,
        a five-month prize and artist residency program supported by Sony CSL Rome and Unifor,
        held between September 2025 and March 2026.
      </p>

      <p>
        This research and work were only possible due to the exceptional interdisciplinary team
        involved at every step of this development. Thanks to everyone's sparkle.
      </p>

       <ul>
        <li>Data analysis and computational development: Hygor P. M. Melo and Paulo Costa</li>
        <li>Spatial analysis in GIS and cartographic mapping: Lara Furtado and Patricía Lima</li>
        <li>Architect and art assistant: Beatriz Balduino</li>
        <li>Website design and programming: Thiago Hersan and Kelly Su </li>
        <li>Game development and design: Emerson Fleming and Rodrigo Moreira</li>
        <li>Translocal and curator: Lucas Dilacerda</li>
        <li>Heatstroke exhibition team: Galeria Cave - Pedro Diógenes, Pedro Bessa, Virgínia Pinho, Darana</li>
        <li>Special thanks: Adriana Helena Moreira, Aliria Aiara Duarte, Breno Angelino,
          Denise, Geórgia Goiana, Júlio Jardim, Matteo Bruno, and Projeto Flora do Campus.
        </li>
      </ul>

      <p>
        Want to know more? Get in touch:<br>
        mari at marinagem.com
      </p>
    </div>
  </div>
</div>
