<div class="panel-inner">
  <h2 class="panel-title">What Are the Shade Technologies?</h2>

  <div class="sub-section">
    <div class="sub-section-text">
      <p>
        This is a project created within the framework of the S+T+ARTS Prize Buen-TEK,
        a five-month prize and residency program supported by Sony CSL and Unifor,
        held between September 2025 and March 2026.
      </p>

      <p>
        These works were only possible due to the amazing interdisciplinary team involved
        in each step of this development:
      </p>

      <ul>
        <li>Hygor P. M. Melo and Paulo Costa : Data analysis and computational development</li>
        <li>Lara Furtado and Patricía Lima : Spatial analysis in GIS and cartographic mapping</li>
        <li>Beatriz Balduino : Architect and art assistant</li>
        <li>Thiago Hersan and Kelly Su : Website design and programming</li>
        <li>Game development and design : Emerson Fleming and Rodrigo Moreira</li>
        <li>Translocal and curator : Lucas Dilacerda</li>
      </ul>

      <p>
        Want to know more? Get in touch:<br>
        mari at marinagem.com
      </p>
    </div>

    <div class="sub-section-image">
      <div class="image-container">
        <img src="./assets/images/headers/about.jpg"/>
      </div>
    </div>
  </div>
</div>
