<div class="text-nav">
  <main class="frame">
    <p class="text" id="shade-text">
      <span class="sentence" data-key="access">
        A sombra é acessível?
      </span>
      <span class="sentence" data-key="sundial">
        Como a
        <button class="highlight" type="button" data-key="sundial">incidência solar</button>
        desenha uma cidade?
      </span>
      <span class="sentence" data-key="bus">
        <button class="highlight" type="button" data-key="bus">Quem</button>
        precisa de sombra?
      </span>
      <span class="sentence" data-key="fortaleza">
        <button class="highlight" type="button" data-key="fortaleza">Fortaleza</button>,
        devido à sua geolocalização,
      </span>
      <span class="sentence" data-key="incidence">
        é banhada pelo sol durante todo o ano.
      </span>
      <!-- <span class="sentence" data-key="sunstroke">
        Encontre maneiras de evitar insolação.
      </span> -->
      <span class="sentence" data-key="map">
        Como
        <button class="highlight" type="button" data-key="map">navegar</button>
        pela sombra?
      </span>
      <span class="sentence" data-key="game">
        Como planejar uma
        <button class="highlight" type="button" data-key="game">cidade ecológica</button>?
      </span>
      <span class="sentence" data-key="about">
        A sombra como
        <button class="highlight" type="button" data-key="about">tecnologia e cosmologia</button>
        do calor.
      </span>
      <span class="sentence" data-key="process">
        Um
        <button class="highlight" type="button" data-key="process">trajeto</button>
        solar.
      </span>
    </p>
  </main>
</div>
